*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(193, 193, 192);
}

.container{
    width: 70%;
    height: 100vh;
    margin-left: 12em;
    margin-top: 1em;
    background-color: whitesmoke;
    display: flex;
    padding: 1em;
}

/* for the side block */
.feedback{
    width: 25%;
    height: 55vh;
    margin-left: 5em;
    /* background-color: red; */
}

.bar1{
    width: 100%;
    height: 17vh;
    background-color: blue;
    background-image: linear-gradient(to right, blue, purple , red);
    padding: 3em 1em;
    margin-bottom: 8px;
    border-radius: 5%;
    color: white;
}
.bar2{
    background-color: white;
    width: 100%;
    height: 18vh;
    margin-bottom: 8px;
    border-radius: 5%;
}
.butt1 button{
    width: 25%;
    display: inline-block;
    font-size: 18px;
    justify-content: space-between;
    padding: 4px 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 238, 242);
}
.butt2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 6px;
}
.butt2 button{
    padding: 4px 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 238, 242);
}

.butt3{
    display: flex;
    align-items: center;
    padding: 4px;
    margin-left: 10px;
}
.butt3 button{
    padding: 4px 8px;
    margin: 0 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 238, 242);
}


.bar3{
    background-color: white;
    width: 100%;
    height: 18vh;
    padding: 2px;
    margin-bottom: 8px;
    border-radius: 5%;
}
.roadmap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}
.plan1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    color: rgb(191, 184, 184);
}
.plan2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    color: rgb(191, 184, 184);
}
.plan3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    color: rgb(191, 184, 184);
}


/* for the main block */
.suggest{
    width: 78%;
    height: 85vh;
    /* background-color: yellow; */
    margin: 0 1em;
}

.row1{
    background-color: rgb(77, 70, 70);
    width: 100%;
    height: 10vh;
    margin-bottom: 8px;
    border-radius: 3%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.row1 ul {
    width: 50%;
    height: 8vh;
    font-size: small;
    color: white;
    margin: 1em;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.row1 button{
    width: 20%;
    height: 6vh;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: purple;
}
.row1 ul span{
    font-weight: 900;
}
.row2{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row2 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row2 ul li{
    margin-left: 2em;
}

.row2 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row2 ul li i{
    width: 40px;
    margin: 0 1em 0 16em;
    color: gray;
} 
.row2 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}

.row3{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row3 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row3 ul li{
    margin-left: 2em;
}

.row3 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row3 ul li i{
    width: 40px;
    margin: 0 1em 0 6em;
    color: gray;
} 
.row3 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}


.row4{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row4 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row4 ul li{
    margin-left: 2em;
}

.row4 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row4 ul li i{
    width: 40px;
    margin: 0 1em 0 10em;
    color: gray;
} 
.row4 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}


.row5{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row5 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row5 ul li{
    margin-left: 2em;
}

.row5 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row5 ul li i{
    width: 40px;
    margin: 0 1em 0 8em;
    color: gray;
} 
.row5 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}


.row6{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row6 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row6 ul li{
    margin-left: 2em;
}

.row6 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row6 ul li i{
    width: 40px;
    margin: 0 1em 0 16em;
    color: gray;
} 
.row6 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}


.row7{
    background-color: white;
    width: 100%;
    height: 13vh;
    margin-bottom: 8px;
    border-radius: 3%;
}
.row7 ul{
    width: 100%;
    height: 12vh;
    font-size: small;
    display: flex;
    list-style: none;
    align-items: center;
}
.row7 ul li{
    margin-left: 2em;
}

.row7 ul li button{
    padding: 6px;
    border: none;
    background-color: rgba(229, 222, 222, 0.82);
} 
.row7 ul li i{
    width: 40px;
    margin: 0 1em 0 11em;
    color: gray;
} 
.row7 ul li h3{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 225, 225);
}




/* IPAD VIEW */

@media screen and (max-width: 820px) {
    
    .container{
        background-color: rgb(225, 220, 220);
        width: 100%;
        margin: 0px;
    }
    
    .feedback{
        /* background-color: rgb(226, 70, 43); */
        width: 30%;
        height: 60vh;
        margin: 4px;
        padding: 0;
    }
    .bar1{
        height: 13vh;
        
    }
    .bar2{
        height: 15vh;
        padding: 0px;
        /* background-color: greenyellow; */
    }
    .butt1 button{
        width: 25%;
        padding: 5px;
        margin: 10px 2px;
       
        /* background-color: rgb(255, 47, 47); */
        
    }
    .butt1 button{
        width: 25%;
        padding: 5px;
        margin: 10px 2px;
       
        /* background-color: rgb(255, 47, 47); */
        
    }
    .butt1 button{
        width: 25%;
        padding: 5px;
        margin: 10px 2px;
       
        /* background-color: rgb(255, 47, 47); */
        
    }
    .bar3{
        height: 15vh;
        margin-top: 10px;

    }
    .suggest{
        /* background-color: rgb(43, 0, 255); */
        width: 95%;
        height: 85vh;
    }
    .mainbar ul li{
        margin-left: 1em;
        font-size: 16px;
        line-height: 25px;
    }
    .mainbar ul li p{
        width: 26em;
    }

    .row1{
        /* background-color: red; */
        width: 100%;
        height: 8vh;
    }
    .row2 {
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }

    .row2 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
    .row3{
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }
    .row3 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
    .row4{
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }
    .row4 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
    .row5{
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }
    .row5 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
    .row6{
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }
    .row6 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
    .row7{
        /* background-color: red; */
        width: 100%;
        height: 12vh;
    }
    .row7 ul li i{
        width: 40px;
        margin: 0;
        color: gray;
    } 
}

    /* MOBILE DEVICE */


    @media screen and (max-width: 390px) {
       body{
        margin: 0;
        padding: 0;
       }
        .container{
            padding: 0;
            margin-right: 5px;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
        }

        .feedback{
            display: flex;
            width: 88%;
            height: 58vh;
            margin: 0 1rem;
        }
        .sidebar {
            width: 100%;
            margin: 0;
        }
        .bar2 {
            height: 20vh;
            margin: 0;
        }
        .butt1 {
            display: flex;
            justify-content: space-around;
        }
        .butt2 {
            display: flex;
            justify-content: space-around;
        }
        .butt3 {
            display: flex;
            padding: 1em;
        }
        .butt1>button {
            padding: 10px;
        }
        .butt2>button {
            padding: 10px;
        }
        .butt3>button {
            padding: 10px;
        }
        .bar3 {
            /* background-color: azure; */
            height: 20vh;
        }

        .suggest {
            width: 88%;
            height: auto;
        }
        .row1 {
            width: 100%;
            height: 13vh;
        }
        .row2 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row2>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
        }
        .row3 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row3>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
            
        }
        .row4 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row4>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
        }
        .row5 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row5>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
        }
        .row6 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row6>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
        }
        .row7 {
            /* background-color: aquamarine; */
            width: 100%;
            height: 15vh;
            padding: 10px;
        }
        .row7>ul>li>p {
            /* background-color: yellow; */
            width: 240px;
        }
    }